{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/article.css">
{% endblock %}

{% block content %}
  <section class="article-section">
    <h1>{{ title }} | {{ uploaded }}</h1>
    <br>
    <p>
      {{ description }}
    </p>
    <br>
    {{ content | safe }}
  </section>
{% endblock %}