{% extends "base.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/article.css">
{% endblock %}

{% block content %}
  <section class="article-section">
    <h1>{{ title }}</h1>
    <p> {{ uploaded }} </p>
    <br>
    <p>
      Categories:
      {% for item in categorylist %}
        <span id="pill">{{ item.category }} </span>
      {% endfor %}
    </p>
    <br>
    <p>
      {{ description }}
    </p>
    <br>
    {{ content | safe }}
  </section>
{% endblock %}