<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="p-e8o-JPjncmoCUCF_NMdslpTPbS5kFHkCt6AY3yIbA" />
  <meta name="keywords" content="Melbourne, Podcast, Home Building">
  <meta name="author" content="Khin Liew">
  <meta name="description" content="Home Building Hub is an Australian independent podcast designed to 
      provide education and value to anyone looking to build a new home.">
  <link rel="canonical" href="https://www.homebuildinghub.com.au/">

  <link rel="stylesheet" href="/styles/main-styles.css">
  <link rel="stylesheet" href="{{ preloadcss }}">

  <link rel="icon" href="/assets/hbh-logo.png">
  <style>
    [data-slate-editor] { 
      -webkit-user-modify: read-write !important; 
    }
  </style>
  {# <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> #}
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>

  <title> {{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'header.njk' %}
  <main>
    {% include 'menu-overlay.njk' %}
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>
  {% include 'footer.njk' %}
  <script type="text/javascript" src="/mobile-menu-script.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>