<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="p-e8o-JPjncmoCUCF_NMdslpTPbS5kFHkCt6AY3yIbA" />
  <meta name="keywords" content="Melbourne, Podcast, Home Building">
  <meta name="author" content="Khin Liew">
  <meta name="description" content="Home Building Hub is an independent podcast designed to provide education 
      and value to anyone looking to build a new home with a volume home builder 
      in Australia.">
  <meta name=”robots” content="index, follow">
  <link rel="canonical" href="https://www.homebuidinghub.com/">

  <link rel="stylesheet" href="/styles/main-styles.css">
  <link rel="stylesheet" href="/styles/mission-page.css">
  <link rel="stylesheet" href="/styles/host-page.css">
  <link rel="stylesheet" href="/styles/episodes-page.css">
  <link rel="stylesheet" href="/styles/contact-page.css">
  <link rel="icon" href="/assets/logo.svg">

  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'header.njk' %}
  <main>
    {% include 'menu-overlay.njk' %}
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>
  {% include 'footer.njk' %}
</body>
</html>