<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Melbourne, Podcast, Home Building">
  <meta name="author" content="Khin Liew">
  <meta name="description" content="The essential podcast guide to building your new home.">
  <meta name=”robots” content="index, follow">

  <link rel="stylesheet" href="/styles/main-styles.css">
  <link rel="stylesheet" href="/styles/host-page.css">
  <link rel="icon" href="/assets/logo.svg">

  <title>{{ title }}</title>
</head>
<body>
  {% include 'header.njk' %}
  <main>
    {% include 'menu-overlay.njk' %}
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  <script type="text/javascript" src="/script.js"></script>
</body>
</html>