.article-section {
  padding: 2% 20%;
  background-color: black;
  background: linear-gradient(to top, black 80%, #191414 100%);
}

.article-section h1, h2, h3, li, p, strong, a {
  color: rgb(247, 245, 245);
  font-family: 'Open Sans', sans-serif;
}

.article-section li {
  margin-left: 20px;
}

.article-section ol {
  margin-top: 15px;
}

.article-section ul {
  margin-left: 15px;
}

.article-section a {
  color: #3ba35f;
} 

.article-section img {
  width: 40%;
}

.article-section h1, h2, h3 {
  color: #3ba35f;
  font-size: x-large;
  margin-top: 20px;
}

.article-section h1 strong,
.article-section h2 strong,
.article-section h3 strong {
  color: #3ba35f;
}

@media screen and (max-width: 1100px) {
  .article-section img {
    width: 100%;
  }
  .article-section {
    padding: 2% 10%;
  }
}