.blog {
  padding-bottom: 20px;
  min-height: 70vh;
  background: linear-gradient(to bottom, #191414 80%, black 100%);
}

.blog h1, h2, p {
  text-align: center;
}

.blog input {
  color: white;
  background-color: #11201c;
}

#blog-container {
  display: grid;
  padding: 0 3%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}

.tag-container {
  display: flex;
  gap: 5px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: #11201c;
  gap: 10px;
  padding: 30px;
  box-shadow: 5px 5px 10px black;
}

.blog-card img {
  /* width: 100%; */
  /* height: 60%; */
  width: 100%;
}

#blog-description {
  text-align: left;
}

.episode-link:hover {
  color: rgb(29, 185, 84);
  transition: none;
}

#search {
  margin-left: 5%;
  margin-bottom: 1%;
  width: 20vw;
  padding: 10px;
  height: 50px;
  font-size: medium;
  border-radius: 20px;
  border: none;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  margin: 3%;
}

.filter-button {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: #163a23;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  transition: background-color 0.8s;
}

.filter-button.active {
  background-color: #4ddd82; /* Color when active */
  color: black;
}

.filter-button.reset {
  background-color: #163a23; /* Color when active */
  color: white;
}

@media screen and (max-width: 1100px) {
  #blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .blog-card img {
    width:70%;
  }
  #search {
    width: 70vw;
  }
  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}