.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  line-height: 2;
}

.contact-message {
  width: 50%;
  line-height: 1.5;
}

.contact a {
  color:#1DB954;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.form-wrapper input, textarea {
  width: 50vw;
  border-style: solid;
  border-color: white;
  margin: 5px 0px 20px 0px;
  border-width: 2px;
  font-size: medium;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0);
}

.form-wrapper input, textarea:focus {
  outline-width: 0;
}

input {
  height: 50px;
}

textarea {
  height: 250px;
  resize: none;
}

#submit-button {
  border-radius: 0;
  border-style: solid;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
#submit-button:hover {
  border-color: #1DB954;
}

@media screen and (max-width: 1000px) {
  .form-wrapper input, textarea {
    width: 80vw;
  }
  .contact-message {
    width: 80%;
  }
}