.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

#dashboard-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#perks-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 3% 0% 3% 0%;
  width: 70%;
}

.redeemed-message {
  color: pink;
}

.perk-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  width: 25%;
}

.perk-item button {
  margin-top: auto;
}

#overlay {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#redeem-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37, 35, 35);
  padding: 3%;
  position: relative;
}

#redeem-form input, select {
  width: 25vw;
  border-style: solid;
  border-color: white;
  margin: 5px 0px 10px 0px;
  border-width: 1px;
  font-size: medium;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0);
}

#close-redemption-form {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 15px;
}

/* Filters */
fieldset {
  border-style: none;
}
.checkbox-button input[type="checkbox"] {
  display: none; /* Hide the checkbox itself */
}
.checkbox-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #163a23;
  color: white;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.checkbox-button.clicked {
  background-color: #4ddd82;
  color: black;
}

@media screen and (max-width: 1000px) {
  #perks-container {
    flex-direction: column;
    align-items: center;
  }
  .perk-item {
    width: 90%;
  }
  #redeem-form {
    padding: 10%;
  }
  #redeem-form input, select {
    width: 70vw;
  }
}