.guests {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guests-page-description {
  width: 80%;
}

#guests-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#guest-tile {
  width: 30%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

#guest-tile a {
  color: rgb(29, 185, 84);
}

#guest-tile a:hover {
  text-decoration: underline;
}

#headshot {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 1100px) {
  #guests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  #guest-tile {
    width: 85%;
  }
}