.guests {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.guests a {
  color:rgb(29, 185, 84);
}

#guests-page-description {
  width: 80%;
}

#guests-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#guest-tile {
  width: 20%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guest-tile h3 {
  text-align: center;
}

#headshot {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 2%;
}

@media screen and (max-width: 1100px) {
  #guests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  #guest-tile {
    width: 85%;
  }
}