.hosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  padding-bottom: 5%;
  line-height: 1.4;
}
.hosts a {
  color: #1DB954;
}
.hosts a:hover {
  text-decoration: underline;
}
.hosts h1 {
  flex-basis: 100%;
  text-align: center;
}
.hosts svg {
  transition-duration: 0.4s;
}
.hosts svg:hover {
  transform: scale(1.15);
}
.host-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
}
.host-block img {
  width: 100%;
  border-radius: 2%;
  /* filter: grayscale(100%); */
}

@media screen and (max-width: 1000px) {
  .hosts {
    padding: 10%;
    flex-direction: column;
  }
  .host-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .host-block img {
    width: 100%;
  } 
}