.hosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  padding-bottom: 5%;
  line-height: 1.4;
}
.hosts h1 {
  flex-basis: 100%;
  text-align: center;
}
.hosts svg {
  transition-duration: 0.4s;
}
.hosts svg:hover {
  transform: scale(1.15);
}
.hosts h3 {
  text-align: center;
}
.host-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30%;
}
#company-link {
  color: white;
}
#company-link:hover {
  text-decoration: underline;
}
.host-block img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 1000px) {
  .hosts {
    padding: 10%;
    flex-direction: column;
  }
  .host-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .host-block img {
    width: 200px;
    height: 200px;
  } 
}