/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
/* Open Sans 400 600*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

header a {
  font-size: larger;
}
header a:hover {
  background-color: #3e3232;
}
header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  background: #191414;
  height: 200px;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
header.scrolled {
  height: 100px;
}
#logo {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

#logo.scrolled {
  width: 140px;
  height: 90px;
}
@keyframes fillSvg {
  0% {
    stroke-dashoffset: 889;
  } 
  100% {
    stroke-dashoffset: 0;
  }
}
#nav-links {
  list-style-type: none;
  display: flex;
  gap: 3vw;
  color: white;
}
#menu-icon, #overlay-wrapper {
  display: none;
}
.highlight {
  color: rgb(29, 185, 84);
}

/* DROPDOWN MENU */
#resources-text {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  cursor: pointer;
  padding: 0px 10px;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
#resources-text:hover {
  background-color: #3e3232;
}
#resources-text.show {
  background-color: #3e3232;
  color: white;
}
#resources-dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  border: 1px solid #555;
  margin-top: 5px;
}
.dropdown-menu a {
  padding: 15px 0px;
  width: 100%;
  text-align: center;
}
#resources-dropdown.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  background-color: #191414;
}

@media screen and (max-width: 1100px) {
  header {
    width: 100%;
    padding: 15px 8%;
    position: fixed;
    background: #191414;
    top: 0;  
    height: 100px;
    z-index: 9999;
  }
  header img {
    width: 50%;
  }
  #nav-links {
    display: none;
  }
  #menu-icon {
    display: flex;
  }
  #overlay-wrapper.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: #191414;
  }
  #menu-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 5vh;
    gap: 30px;
    font-size: 1.5rem;
    z-index: 9999;
  }
}