.post-section {
  padding: 5%;
}

#episode-content {
  display: flex;
  gap: 50px;
  padding-top: 20px;
}

.post-section p {
  /* width: 80%; */
}

#placeholder-video {
  flex: 1;
  background-color: grey;
  width: 60vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#episode-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

#episode-navigation {
  display: flex;
  justify-content: space-between;
}

#episode-navigation a {
  width: 15%;
  background-color: rgb(12, 81, 36);
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  line-height: 1.4;
  transition: background-color 0.3s ease-out;
}

#episode-navigation a:hover {
  background-color: rgb(7, 48, 22);
}

#intext-link {
  color:rgb(185, 185, 228); 
  /* text-decoration:none; */
}

#intext-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  #episode-content {  
    flex-direction: column;
  }
  iframe {
    width: 320px;
    height: 220px;
  }
  #episode-navigation a {
    width: 40%;
  }
}