.register {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.register-form-wrapper {
  display: flex;
  flex-direction: column;
}

.register-form-wrapper input {
  width: 25vw;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
  border-width: 2px;
  font-size: medium;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0);
}