.resources {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources h1 {
  text-align: center;
}

.resources-container {
  display: flex;
  flex-direction: column;
}

.resources-container li {
  font-family: 'Montserrat', sans-serif;
}

.resources-container a {
  color: rgb(29, 185, 84);
}

.resources-container a:hover {
  text-decoration: underline;
  transition: none;
}

@media screen and (max-width: 1000px) {
  .resources-container {
    width: 80%;
  }
}