---
title: Blog | Home Building Hub
layout: "base.njk"
permalink: "blog/"
preloadcss: "/styles/blog.css"
---
<section class="blog">
  <h1>
    Expert Advice for Your Home Building Journey
  </h1>
  <br>
  <p>
    Discover actionable tips, insider knowledge, and unique insights inspired by our Home Building Hub podcast.
  </p>
  <div class="filters">
    <button class="filter-button" data-filter="finance">Finance & Budgeting</button>
    <button class="filter-button" data-filter="pre">Pre-Construction</button>
    <button class="filter-button" data-filter="during">During Construction</button>
    <button class="filter-button" data-filter="post">Post-Construction</button>
    <button class="filter-button" data-filter="legal">Legal & Contracts</button>
    <button class="filter-button" data-filter="first">First Home Buyer</button>
    <button class="filter-button" data-filter="investor">Investor</button>
    <button class="filter-button" data-filter="upsizing">Upsizing and Downsizing</button>
    <button class="filter-button" data-filter="design">Design & Trends</button>
    <button class="filter-button" data-filter="sustainability">Sustainability & Energy Efficiency</button>
    <button class="filter-button" data-filter="smart">Smart Home & Tech</button>
    <button class="filter-button" data-filter="news">News & Industry Insights</button>
    <button class="filter-button" data-filter="all">All</button>
  </div>

  <input type="text" id="search" class="search" placeholder="Search" />
  
  <br>
  <ul id="blog-container">
    {% assign recentPosts = collections.articles %}
    {% for post in recentPosts %}
    <div class="blog-card hidden" data-name="{{ post.data.title }}" data-categories="{{ post.data.categorylist }}">
      <img src="/{{ post.data.thumbnail }}" alt="article preview photo">
      <div class="content">
        <h2>
          <a class="episode-link" href="{{ post.url }}"> {{ post.data.title }}</a>
        </h2>
        <p>
          {{ post.data.uploaded }}
        </p>
        <br>
        
        <div class="tag-container">
        {% for item in post.data.categorylist %}
          <span id="pill">{{ item | filtername}}</span>
        {% endfor %}
        </div>
        
        <br>
        <p id="blog-description">
          {{ post.data.description }}
        </p>
      </div>
    </div>
    {% endfor %}
  </ul>
</section>
<script type="text/javascript" src="/scripts/search.js"></script>
<script type="text/javascript" src="/scripts/transition-script.js"></script>