---
title: Blog | Home Building Hub
layout: "base.njk"
permalink: "blog/"
preloadcss: "/styles/blog.css"
---
<section class="blog">
  <h1>
    Expert Advice for Your Home Building Journey
  </h1>
  <br>
  <p>
    Discover actionable tips, insider knowledge, and unique insights inspired by our Home Building Hub podcast.
  </p>
  <br>
  <input type="text" id="search" placeholder="Search" />
  <br>
  <button data-filter="finance-and-budgeting">Finance & Budgeting</button>
  <br>
  <button data-filter="legal-and-contracts">Legal & Contracts</button>
  <br>
  <button data-filter="all">All</button>

  <br>
  <br>
  <ul id="blog-container">
    {% for post in recentPosts %}
    <div class="blog-card" data-name="{{ post.data.title }}" data-categories="{{ post.data.categorylist[0].category | join: ' ' }}">
      <img src="/{{ post.data.thumbnail }}" alt="article preview photo">
      <div class="content">
        <h2>
          <a class="episode-link" href="{{ post.url }}"> {{ post.data.title }}</a>
        </h2>
        <p>
          {{ post.data.uploaded }}
        </p>
        <br>

        <div class="tag-container">
        {% for item in post.data.categorylist %}
          <span id="pill">{{ item.category }}</span>
        {% endfor %}
        </div>

        <br>
        <p id="blog-description">
          {{ post.data.description }}
        </p>
      </div>
    </div>
    {% endfor %}
  </ul>
</section>
<script type="text/javascript" src="/search.js"></script>