@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-out;
}
a:hover {
  color: rgb(29, 185, 84);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
header svg:hover {
  cursor: pointer;
  stroke-dasharray: 889;
  animation: 0.5s fillSvg linear;
}
@keyframes fillSvg {
  0% {
    stroke-dashoffset: 889;
  } 
  100% {
    stroke-dashoffset: 0;
  }
}

body {
  background-color: #0A1210;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
}

footer {
  padding: 30px;
}

#nav-links {
  list-style-type: none;
  display: flex;
  gap: 5vw;
  color: white;
}

/* HOME PAGE */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10%;
  height: 70vh;
}
#landing-home {
  width: 50%;
}
.headline {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
.headline h1 {
  font-size: 50px;
  font-weight: 400; 
}
.headline h2 {
  font-weight: 150;
}

button {
  padding: 10px;
  background-color: #1DB954;
  width: 100px;
  border-style: none;
  border-radius: 30px; 
  font-weight: 100;
  cursor: pointer;
}

#ground {
  width: 100%;
  height: 300px;
  background-color: #001F17;
  margin-top: -120px;
}

.secondary-container {
  background-color: #001F17;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ABOUT PAGE */
.about {
  height: 75vh;
  width: 50vw;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}